<table style="width: 100%;">
  <tbody style="width: 100%;">

  <!--HEADER-->
  <tr style="height: 70px; width: 100%;">
    <td align="left" valign="center" style="height: 70px; width: 100%; background-color: #0B283A; border-top: 10px solid white;">
      <img src="<%= @company_logo %>" style="padding-left: 20px; padding-top: 3px; text-align: left; max-height: 34px;"/>
    </td>
  </tr>

  <!--BODY-->
  <tr style="height: 34%; width: 100%;">
    <td align="left" valign="top" style="height: 34%; width: 100%; padding-left: 9%; padding-right: 9%; color: black; font-size: 1.1em; padding-top: 2%">
      <p style="line-height: 1.5em"><b><%= @inviter_name %></b> added you as a member of the <b><%= @team %></b> Conflux team.</p>
    </td>
  </tr>
  <tr style="height: 34%; width: 100%;">
    <td align="left" valign="top" style="height: 34%; width: 100%; padding-left: 9%; padding-right: 9%; color: black; font-size: 1.1em;">
      <p style="line-height: 1.5em">You can set your own password by clicking the link below and using the following credentials as your current email and password:</p>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" style="height: 34%; width: 100%; padding-left: 9%; padding-right: 9%; color: black; font-size: 1.1em; padding-bottom: 2%">
      <p style="line-height: 1.25em"><b>Email:</b>&nbsp;&nbsp;<%= @email %></p>
      <p style="line-height: 1.25em"><b>Password:</b>&nbsp;&nbsp;<%= @temp_password %></p>
    </td>
  </tr>
  <tr style="height: 15%; width: 100%;">
    <td align="center" valign="center" style="height: 15%; width: 100%; padding-bottom: 40px; padding-top: 24px;">
      <a style="text-decoration: none; background-color: #0EBEC1; color: white; text-align: center; line-height: 125%; border-radius: 4px; font-size: 1.25em; margin-left: auto; margin-right: auto; padding: 14px 35px;" href="<%= @redirect_base_url %>/reset_password">Set own password</a>
    </td>
  </tr>

  <!--FOOTER-->
  <tr style="height: 50px; width: 100%; background-color: #0B283A;">
    <td align="center" valign="center" style="height: 50px; width: 100%; ">
      <p style="margin: 0; min-height: 20px; padding-top: 8px; font-size: 0.85em; font-weight: 300; color: rgba(255,255,255,0.7); text-align: center;">Conflux&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;San Francisco, CA</p>
    </td>
  </tr>

  </tbody>
</table>
