<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Conflux</title>
  <link rel="shortcut icon" href="<%= ENV['CLOUDFRONT_URL'] %>/images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script text="javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>
  <script text="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
  <script text="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/1.9.43/autoNumeric.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <script src="//dmc1acwvwny3.cloudfront.net/atatus.js"></script>
    <script type="text/javascript">atatus.config('d311ee50cc6b45e7ba0005291929772e').install();</script>
    <!-- Mixpanel -->
    <script type="text/javascript">
      (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
      mixpanel.init('3dc9bdc17d9bac91a1f819e34abd0614');
    </script>
  <% end %>
</head>
<body class="<%= @bg_light_gray ? 'light-gray' : '' %>">
<% if @show_menu %>
  <%= react_component('Menu', @menu_data, { prerender: true }) %>
<% end %>
<div id="csBody" class="<%= @show_menu ? '' : 'no-menu' %>">
  <% if @landing_header %>
    <%= react_component('LandingHeader', @header_team_data, { prerender: true }) %>
  <% else %>
    <%= react_component('Header', @header_data, { prerender: true }) %>
  <% end %>
  <%= yield %>
</div>
<div id="confluxModal" class="modal fade" role="dialog" aria-labelledby="confluxModal" aria-hidden="true">
  <%= react_component('Modal') %>
</div>
<% if @header_team_data %>
  <%= react_component('HeaderTeamMenu', @header_team_data, { prerender: true }) %>
<% end %>
</body>
</html>